@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

header {
  background-color: #fff;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

ul {
  list-style: none;
}

input {
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  /* 使背景透明 */
  font-family: inherit;
  /* 继承字体样式 */
  font-size: inherit;
  /* 继承字体大小 */
  box-shadow: none;
  /* 去除阴影 */
}

.main-box {
  position: relative;
}

.bg-color {
  background-color: #F2F2F2;
}

.t-font-color{
  color: #333333;
  font-size: 24px;
  font-weight: bold;
}

.c-btn {
  background-color: #0099FF;
  border-radius: 4px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}